Repository sammarks/icons: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn svgo --pretty --config=svgo.config.json, prettier --write

.lintstagedrc:

{
  "*.svg": ["yarn svgo --pretty --config=svgo.config.json"],
  "*.ts*": ["prettier --write"]
}

Notes added by 'git notes add'
  d649791cb7ba8f34b21e348df99a1b8e8dafe4d5
Due: none

feat: add dragger, left-right, and panning icons
  README.md
  icons.sketch
  src/__snapshots__/index.test.js.snap
  src/index.stories.tsx
  src/index.ts
  src/svgs/dragger.svg
  src/svgs/left-right.svg
  src/svgs/panning.svg
Due: yarn svgo --pretty --config=svgo.config.json, prettier --write

chore: export properly
  src/index.ts
Due: prettier --write

ci: fix build deps from error
  .circleci/config.yml
  yarn.lock
Due: none

Notes added by 'git notes add'
  3a8d8c6c2f689e4a5c3bfbb65cf4882f1416aa66
Due: none

fix: prefix ids to prevent icons overriding each other
  src/__snapshots__/index.test.js.snap
  src/svgs/dragger.svg
  src/svgs/gain.svg
  src/svgs/left-right.svg
  src/svgs/metronome.svg
  src/svgs/panning.svg
  src/svgs/pitch.svg
  svgo.config.json
Due: yarn svgo --pretty --config=svgo.config.json

Notes added by 'git notes add'
  c079e0652235d9149dd1fc446c04591e79ae5a5a
Due: none

fix: sketch file should not use masks, removing the references
  icons.sketch
  src/__snapshots__/index.test.js.snap
  src/svgs/dragger.svg
  src/svgs/left-right.svg
  src/svgs/panning.svg
Due: yarn svgo --pretty --config=svgo.config.json

Notes added by 'git notes add'
  8b3a96940776bb530aa5d3ac7caa950d41bcf9d8
Due: none

feat: use react-native-svg for svg support
  @types/custom.d.ts
  jest.config.js
  package.json
  src/__snapshots__/index.test.js.snap
  src/index.ts
  tsconfig.json
  tsdx.config.js
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  ad80b27efc31c05727640fa8c4881efc763fc003
Due: none

Revert "feat: use react-native-svg for svg support"
  @types/custom.d.ts
  jest.config.js
  package.json
  src/__snapshots__/index.test.js.snap
  src/index.ts
  tsconfig.json
  tsdx.config.js
  yarn.lock
Due: prettier --write

feat: add support for react native
  .gitignore
  @types/custom.d.ts
  README.md
  package.json
  src/index.ts
  src/native.tsx
  svgo.config.json
  tsconfig.json
  tsdx.config.js
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  59bc51373ad6fc0ec6ab2652bfb1411f5e9d9ae1
Due: none

fix: build native deps as well
  package.json
Due: none

Notes added by 'git notes add'
  3dd14d40853aa1a3ea2e3fcbeacc1cfd4015829c
Due: none

fix: preserve the types in the built files
  package.json
Due: none

Notes added by 'git notes add'
  5295264a90c596393234bb97c07917721a2c6041
Due: none

fix: set a default width and height for icons
  src/native.tsx
Due: prettier --write

Notes added by 'git notes add'
  d86a69fbfc75614c1ef4878563d290fe985645de
Due: none

feat: add arrow icons
  icons.sketch
  src/__snapshots__/index.test.js.snap
  src/index.ts
  src/native.tsx
  src/svgs/arrow-down.svg
  src/svgs/arrow-left.svg
  src/svgs/arrow-right.svg
  src/svgs/arrow-up.svg
Due: yarn svgo --pretty --config=svgo.config.json, prettier --write

Notes added by 'git notes add'
  36ed3cf5bc4cc755bacbaa7de105e684df903824
Due: none

feat: add ColorGoogle icon
  README.md
  icons.sketch
  package.json
  src/__snapshots__/index.test.js.snap
  src/index.ts
  src/native.tsx
  src/svgs/color/google.svg
  svgo-color.config.json
  tsdx.config.js
Due: yarn svgo --pretty --config=svgo.config.json, prettier --write

chore: google works again
  .lintstagedrc
  icons.sketch
  src/svgs/color/google.svg
  tsdx.config.js
Due: yarn svgo --pretty --config=svgo.config.json

Notes added by 'git notes add'
  7f2821f7a896a601b72adf2fc2cf71679de5bdd2
Due: none

feat: add ColorMicrosoft icon
  icons.sketch
  src/__snapshots__/index.test.js.snap
  src/index.ts
  src/native.tsx
  src/svgs/color/microsoft.svg
Due: yarn svgo --pretty --config=svgo.config.json, prettier --write

Notes added by 'git notes add'
  f483b9088764cfd77863551827795f9b91125f66
Due: none

feat: add DotMenu icon
  icons.sketch
  src/__snapshots__/index.test.js.snap
  src/index.ts
  src/native.tsx
  src/svgs/dot-menu.svg
Due: yarn svgo --pretty --config=svgo.config.json, prettier --write

Notes added by 'git notes add'
  253904eb1f049a95e910b49853099228e2ebc062
Due: none

feat: add pause play and stop icons
  icons.sketch
  src/__snapshots__/index.test.js.snap
  src/index.ts
  src/native.tsx
  src/svgs/pause.svg
  src/svgs/play.svg
  src/svgs/stop.svg
Due: yarn svgo --pretty --config=svgo.config.json, prettier --write

Notes added by 'git notes add'
  837294c5609bbd38d5bbf10c6f852423e3bb3ab4
Due: none

feat: add clever logo
  icons.sketch
  package.json
  src/__snapshots__/index.test.js.snap
  src/index.ts
  src/native.tsx
  src/svgs/color/clever.svg
  yarn.lock
Due: yarn svgo --pretty --config=svgo.config.json, prettier --write

Notes added by 'git notes add'
  cf22018d10daeacf46bac53f91f34b63f5cb5eb4
Due: none

chore: deploy storybook [ci skip]
  0.233cfffdfc31636c8464.manager.bundle.js
  4.0134b8790b06ee65c957.manager.bundle.js
  4.0134b8790b06ee65c957.manager.bundle.js.LICENSE.txt
  5.ecd3acfed91adcd83a55.manager.bundle.js
  5.ecd3acfed91adcd83a55.manager.bundle.js.LICENSE.txt
  6.da4227794578f5b5450f.manager.bundle.js
  7.837a682ad50eb1a79d68.manager.bundle.js
  favicon.ico
  iframe.html
  index.html
  main.4db65bed.iframe.bundle.js
  main.b60908e920b4ae59bb1c.manager.bundle.js
  runtime~main.19b88001041956945af9.manager.bundle.js
  runtime~main.b0af52cf.iframe.bundle.js
  vendors~main.3d1fe18b.iframe.bundle.js
  vendors~main.3d1fe18b.iframe.bundle.js.LICENSE.txt
  vendors~main.3d1fe18b.iframe.bundle.js.map
  vendors~main.49ea38266d13b32ac37e.manager.bundle.js
  vendors~main.49ea38266d13b32ac37e.manager.bundle.js.LICENSE.txt
Due: none

feat: switch to npm registry
  package.json
Due: none

Notes added by 'git notes add'
  ab60e56f90628e43b5d7867069e16ee99f526834
Due: none
